@page "/"
@rendermode InteractiveServer

<PageTitle>DD8 - Login</PageTitle>

<div class="content">
    <h2 class="div-title">
        <span class="text-title">Projeto Azul</span>
        <span class="text-span">| 522 arquivos</span>
    </h2>

    <div class="status-box">
        <p> Em andamento</p>
    </div>

    <div class="button-container">
        @foreach (var target in targets)
        {
            <button class="btn @(target == activeTarget ? "active" : "")" @onclick="() => SetActiveTarget(target)">
                @target
            </button>
        }
    </div>

    <!--<MudCarousel TData="object" Class="mud-carousel-container" Style="height:300px;" ShowArrows="true">
        <MudCarouselItem>
            <MudCard class="div-carousel-card">
                <MudCardContent class="wrap-card">
                    <MudIcon Icon="@Icons.Material.Filled.BusinessCenter" Size="Size.Large" class="icon-carousel" />
                    <MudText Typo="Typo.h6" class="text-societario">Societário</MudText>
                    <MudText Typo="Typo.subtitle1" class="text-arquivos">10 arquivos</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudCard class="div-carousel-card">
                <MudCardContent class="wrap-card">
                    <MudIcon Icon="@Icons.Material.Filled.Description" Size="Size.Large" />
                    <MudText Typo="Typo.h6" class="text-societario">Contratos</MudText>
                    <MudText Typo="Typo.subtitle1" class="text-arquivos">10 arquivos</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudCard class="div-carousel-card">
                <MudCardContent class="wrap-card">
                    <MudIcon Icon="@Icons.Material.Filled.Security" Size="Size.Large" />
                    <MudText Typo="Typo.h6" class="text-societario">Seguros</MudText>
                    <MudText Typo="Typo.subtitle1" class="text-arquivos">10 arquivos</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudCard class="div-carousel-card">
                <MudCardContent class="wrap-card">
                    <MudIcon Icon="@Icons.Material.Filled.AccountBalance" Size="Size.Large" />
                    <MudText Typo="Typo.h6" class="text-societario">Bancário</MudText>
                    <MudText Typo="Typo.subtitle1" class="text-arquivos">10 arquivos</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudCard class="div-carousel-card">
                <MudCardContent class="wrap-card">
                    <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Size="Size.Large" />
                    <MudText Typo="Typo.h6" class="text-societario">Tribuário</MudText>
                    <MudText Typo="Typo.subtitle1" class="text-arquivos">10 arquivos</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudCard class="div-carousel-card">
                <MudCardContent class="wrap-card">
                    <MudIcon Icon="@Icons.Material.Filled.Work" Size="Size.Large" />
                    <MudText Typo="Typo.h6" class="text-societario">Trabalhista</MudText>
                    <MudText Typo="Typo.subtitle1" class="text-arquivos">10 arquivos</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudCard class="div-carousel-card">
                <MudCardContent class="wrap-card">
                    <MudIcon Icon="@Icons.Material.Filled.Gavel" Size="Size.Large" />
                    <MudText Typo="Typo.h6" class="text-societario">Contencioso Cível</MudText>
                    <MudText Typo="Typo.subtitle1" class="text-arquivos">10 arquivos</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudCard class="div-carousel-card">
                <MudCardContent class="wrap-card">
                    <MudIcon Icon="@Icons.Material.Filled.Home" Size="Size.Large" />
                    <MudText Typo="Typo.h6" class="text-societario">Imobiliário</MudText>
                    <MudText Typo="Typo.subtitle1" class="text-arquivos">10 arquivos</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudCard class="div-carousel-card">
                <MudCardContent class="wrap-card">
                    <MudIcon Icon="@Icons.Material.Filled.Home" Size="Size.Large" />
                    <MudText Typo="Typo.h6" class="text-societario">Ambiental</MudText>
                    <MudText Typo="Typo.subtitle1" class="text-arquivos">10 arquivos</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudCard class="div-carousel-card">
                <MudCardContent class="wrap-card">
                    <MudIcon Icon="@Icons.Material.Filled.ContentPaste" Size="Size.Large" />
                    <MudText Typo="Typo.h6" class="text-societario">Regulatório</MudText>
                    <MudText Typo="Typo.subtitle1" class="text-arquivos">10 arquivos</MudText>
                </MudCardContent>
            </MudCard>
        </MudCarouselItem>

    </MudCarousel>-->

    <MudGrid Spacing="0">
        <MudItem xs="12" sm="6">
            <div class="input-container">
                <MudIcon Icon="@Icons.Material.Filled.Search" Class="icon-search" />
                <MudTextField T="string" Placeholder="Pesquisar Arquivo" FullWidth="false" Class="div-input-search" />
            </div>
        </MudItem>

        <MudItem xs="6" sm="3" Class="div-btn-up">
            <MudText class="text-ultimo-up">Último upload em</MudText>
            <MudText class="text-ultimo-up">24.04.2024, às 13h45 GMT</MudText>
        </MudItem>

        <MudItem xs="3" sm="1" Class="div-btn">
            <MudButton Variant="Variant.Filled" Class="btn-input btn-input-buscar text-btn">
                Upload
                <MudIcon Icon="@Icons.Material.Filled.Add" Class="icon-custom" />
            </MudButton>
        </MudItem>

        <MudItem xs="3" sm="1">
            <MudButton Variant="Variant.Filled" Class="btn-input btn-input-limpar text-btn">
                Deletar
                <MudIcon Icon="@Icons.Material.Filled.DeleteOutline" Class="icon-custom" />
            </MudButton>
        </MudItem>
    </MudGrid>

    <MudContainer class="container-mud">
        <MudPaper class="mudpapper-div">
            <MudText class="mudpaper-text">
                Último DeepDive do projeto executado em 24.04.2024, às 13h45 GMT
            </MudText>
        </MudPaper>
    </MudContainer>

    <MudContainer Class="container-alinhamento">
        <MudCheckBox T="bool" @bind-Checked="isChecked" Class="check-box-style" />
        <MudButton Variant="Variant.Text" Class="btn-ordenar">
            Compatível
            <MudIcon Icon="@Icons.Material.Filled.UnfoldMore" Class="icon-ordenar" />
        </MudButton>
        <MudButton Variant="Variant.Text" Class="btn-ordenar">
            Tipo
            <MudIcon Icon="@Icons.Material.Filled.UnfoldMore" Class="icon-ordenar" />
        </MudButton>
        <MudButton Variant="Variant.Text" Class="btn-ordenar">
            Data de Upload
            <MudIcon Icon="@Icons.Material.Filled.UnfoldMore" Class="icon-ordenar" />
        </MudButton>
        <MudButton Variant="Variant.Text" Class="btn-ordenar">
            DeepDive
            <MudIcon Icon="@Icons.Material.Filled.UnfoldMore" Class="icon-ordenar" />
        </MudButton>
    </MudContainer>

 <div class="linha-container">
    <MudCheckBox T="bool" @bind-Checked="isChecked" Class="check-box-style" />

    <MudText Class="arquivo-texto">Arquivo número 1 - nome do arquivo um</MudText>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ToggleStatus" Class="btn-toggle-status">
        @(isYes ? "Sim" : "Não")
    </MudButton>

    <MudText Class="extensao-arquivo">.pdf</MudText>

    <MudText Class="data-arquivo">21.08.2024 às 13h45 GMT</MudText>

    <MudButton Variant="Variant.Filled" Class="btn-icone">
        <MudIcon Icon="@Icons.Material.Filled.Remove" />
    </MudButton>

    <MudButton Variant="Variant.Filled" Class="btn-icone">
        <MudIcon Icon="@Icons.Material.Filled.Delete" />
    </MudButton>
</div>

 <div class="linha-container">
    <MudCheckBox T="bool" @bind-Checked="isChecked" Class="check-box-style" />

    <MudText Class="arquivo-texto">Arquivo número 1 - nome do arquivo um</MudText>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ToggleStatus" Class="btn-toggle-status">
        @(isYes ? "Sim" : "Não")
    </MudButton>

    <MudText Class="extensao-arquivo">.pdf</MudText>

    <MudText Class="data-arquivo">21.08.2024 às 13h45 GMT</MudText>

    <MudButton Variant="Variant.Filled" Class="btn-icone">
        <MudIcon Icon="@Icons.Material.Filled.Remove" />
    </MudButton>

    <MudButton Variant="Variant.Filled" Class="btn-icone">
        <MudIcon Icon="@Icons.Material.Filled.Delete" />
    </MudButton>
</div>

 <div class="linha-container">
    <MudCheckBox T="bool" @bind-Checked="isChecked" Class="check-box-style" />

    <MudText Class="arquivo-texto">Arquivo número 1 - nome do arquivo um</MudText>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ToggleStatus" Class="btn-toggle-status">
        @(isYes ? "Sim" : "Não")
    </MudButton>

    <MudText Class="extensao-arquivo">.pdf</MudText>

    <MudText Class="data-arquivo">21.08.2024 às 13h45 GMT</MudText>

    <MudButton Variant="Variant.Filled" Class="btn-icone">
        <MudIcon Icon="@Icons.Material.Filled.Remove" />
    </MudButton>

    <MudButton Variant="Variant.Filled" Class="btn-icone">
        <MudIcon Icon="@Icons.Material.Filled.Delete" />
    </MudButton>
</div>

 <div class="linha-container">
    <MudCheckBox T="bool" @bind-Checked="isChecked" Class="check-box-style" />

    <MudText Class="arquivo-texto">Arquivo número 1 - nome do arquivo um</MudText>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ToggleStatus" Class="btn-toggle-status">
        @(isYes ? "Sim" : "Não")
    </MudButton>

    <MudText Class="extensao-arquivo">.pdf</MudText>

    <MudText Class="data-arquivo">21.08.2024 às 13h45 GMT</MudText>

    <MudButton Variant="Variant.Filled" Class="btn-icone">
        <MudIcon Icon="@Icons.Material.Filled.Remove" />
    </MudButton>

    <MudButton Variant="Variant.Filled" Class="btn-icone">
        <MudIcon Icon="@Icons.Material.Filled.Delete" />
    </MudButton>
</div>

 <div class="linha-container">
    <MudCheckBox T="bool" @bind-Checked="isChecked" Class="check-box-style" />

    <MudText Class="arquivo-texto">Arquivo número 1 - nome do arquivo um</MudText>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ToggleStatus" Class="btn-toggle-status">
        @(isYes ? "Sim" : "Não")
    </MudButton>

    <MudText Class="extensao-arquivo">.pdf</MudText>

    <MudText Class="data-arquivo">21.08.2024 às 13h45 GMT</MudText>

    <MudButton Variant="Variant.Filled" Class="btn-icone">
        <MudIcon Icon="@Icons.Material.Filled.Remove" />
    </MudButton>

    <MudButton Variant="Variant.Filled" Class="btn-icone">
        <MudIcon Icon="@Icons.Material.Filled.Delete" />
    </MudButton>
</div>

    @code {
        private List<string> targets = new List<string> { "TARGET 1", "TARGET 2", "TARGET 3" };
        private string activeTarget = "TARGET 1";

        protected override void OnInitialized()
        {
            activeTarget = targets.FirstOrDefault() ?? activeTarget;
        }

        private void SetActiveTarget(string target)
        {
            activeTarget = target;
        }
    }

    @code {
        private bool isChecked { get; set; } = true;
    }

    @code {
        private bool isYes { get; set; } = true;

        private void ToggleStatus()
        {
            isYes = !isYes;
        }
    }

</div>