@page "/carousel-demo"
@using MudBlazor
@using MudBlazor.Components

<MudContainer>
    <MudCarousel TData="object" Cycle="true" Height="150px" ShowArrows="true" ShowIndicators="true">
        <MudCarouselItem>
            <MudPaper Class="carousel-item" Elevation="4">
                <MudIcon Icon="@Icons.Material.Filled.BusinessCenter" Size="Size.Large" />
                <p>Societário<br>10 arquivos</p>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudPaper Class="carousel-item" Elevation="4">
                <MudIcon Icon="@Icons.Material.Filled.Description" Size="Size.Large" />
                <p>Contratos<br>10 arquivos</p>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudPaper Class="carousel-item" Elevation="4">
                <MudIcon Icon="@Icons.Material.Filled.Security" Size="Size.Large" />
                <p>Seguros<br>10 arquivos</p>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudPaper Class="carousel-item" Elevation="4">
                <MudIcon Icon="@Icons.Material.Filled.AccountBalance" Size="Size.Large" />
                <p>Bancário<br>10 arquivos</p>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudPaper Class="carousel-item" Elevation="4">
                <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Size="Size.Large" />
                <p>Tributário<br>10 arquivos</p>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudPaper Class="carousel-item" Elevation="4">
                <MudIcon Icon="@Icons.Material.Filled.Work" Size="Size.Large" />
                <p>Trabalhista<br>10 arquivos</p>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudPaper Class="carousel-item" Elevation="4">
                <MudIcon Icon="@Icons.Material.Filled.Gavel" Size="Size.Large" />
                <p>Contencioso Cível<br>10 arquivos</p>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudPaper Class="carousel-item" Elevation="4">
                <MudIcon Icon="@Icons.Material.Filled.Home" Size="Size.Large" />
                <p>Imobiliário<br>10 arquivos</p>
            </MudPaper>
        </MudCarouselItem>

        @* <MudCarouselItem>
            <MudPaper Class="carousel-item" Elevation="4">
                <MudIcon Icon="@Icons.Material.Filled.Eco" Size="Size.Large" />
                <p>Ambiental<br>10 arquivos</p>
            </MudPaper>
        </MudCarouselItem>

        <MudCarouselItem>
            <MudPaper Class="carousel-item" Elevation="4">
                <MudIcon Icon="@Icons.Material.Filled.Clipboard" Size="Size.Large" />
                <p>Regulatório<br>10 arquivos</p>
            </MudPaper>
        </MudCarouselItem> *@
    </MudCarousel>
</MudContainer>